$white: #fff;
$black: #000;

$yellow: #E7AE5D;
$blue: #4743EB;
$blue-light: #E4E8F4;
$purple: #9B51E0;
$gray: #656B6F;

$facebook: #2F80ED;
$dribble: #EB5757;
$behance: #56CCF2;

$bg-gradient-blue: linear-gradient(180deg, #4743EE 0%, #403DBF 100%);
$bg-gradient-black: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #222325 100%);
$bg-black: #222;
$bg-gray: #F9F9F9;

$text-gray: rgba(255, 255, 255, 0.5);

//shopwise variables
$text-pink: #ff324d;
$text-normal: #678188;
$text-title: #292b2c;