.breadcrumb {
  padding: 7rem 0;
  background-color: #f7f8fb;
  &__title {
    @include fontRoboto(2.7rem);
  }
  &__list {
    @include fontPoppins(1.4rem);
    padding-left: 0;
    a {
      color: $text-title;
      &:hover{
        color: $text-pink;
      }
    }
    i {
      font-size: 1rem;
      margin: 0 0.8rem;
    }
  }
}