.subscribe {
	padding: 5rem;
	background-color: #FF324D;
	&__content {
		&-title {
			@include fontRoboto(2.5rem);
			color: $white;
			@include max-breakpoint(1199){
				font-size: 26px;
			}
			@include max-breakpoint(767){
				font-size: 24px;
			}
			@include max-breakpoint(480){
				font-size: 20px;
			}
			@include max-breakpoint(375){
				font-size: 17px;
			}
		}
		&-email {
			text-align: center;
			input {
				@include fontPoppins(1.4rem);
				padding: 0 1.5rem;
				height: 5rem;
				border: none;
				width: 70%;
				@include max-breakpoint(330){
					font-size: 10px;
				}
        &:focus {
          outline: none;
        }
			}
			button {
				@include fontPoppins(1.6rem, $white);
				width: 40%;
        		// padding: 1rem 3.6rem;
				@include max-breakpoint(330){
					font-size: 10px;
				}
			}
		}
	}
}
