.team {
	padding: 7rem 0;
	// @include breakpoint(990){
	// 	height: 1128px;
	//   }
	&__content {
		&-card {
			.card__img {
				position: relative;
				// width: 25.5rem;
			// .card__img-overlay{
				// background-color: brown;
			// }
        &:hover .card__img-overlay{
        //   top: 50%;
        //   transition: all 0.5s ease-in-out;
			opacity: 1;
        	visibility: visible;
        }
		&:hover .overlay__list {
			top: 45%;
		}
		img{
			width: 100%;
		}
				&-overlay {
					position: absolute;
					background-color: rgba(0, 0, 0, 0.5);
					width: 100%;
					height: 100%;
					top: 0;
					right: 0;
          			visibility: hidden;
					.overlay__list {
						position: absolute;
						width: 100%;
						padding-left: 0;
						top: 0;
						transform: translateY(50%);
						transition: all 0.5s ease-in-out;
						&-item {
							margin-right: 1rem;
							i {
								font-size: 1.4rem;
								padding: 1rem;
								background-color: $white;
								color: $text-pink;
							&:hover{
								background-color: $text-pink;
								color: #fff;
							}
							}
						}
					}
				}
			}
      .card__title {
        @include fontRoboto(2rem);
      }
      .card__text {
        @include fontPoppins(1.6rem);
      }
		}
	}
}
