extend includes/layout/layout.pug
block content
  include includes/about/breadcrumb.pug
  include includes/about/about_us.pug
  include includes/about/reason.pug
  include includes/about/team.pug
  include includes/about/testimonial.pug
  include includes/about/policy.pug
  include includes/about/mail.pug
