.about
  .container
    .row.d-flex.align-items-center
      .col-lg-6
        .about__img
          img(src="assets/images/about_img.jpg").about__img.img-fluid
      .col-lg-6
        .about__text
          .about__text-title Who We Are
          .about__text-decs
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. consequuntur quibusdam enim expedita sed nesciunt incidunt accusamus adipisci officia libero laboriosam!
            p Proin gravida nibh vel velit auctor aliquet. nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vultate cursus a sit amet mauris. Duis sed odio sit amet nibh vultate cursus a sit amet mauris.