.breadcrumb
  .container
    .row
      .col-md-6
        .breadcrumb__title About Us
      .col-md-6
        ul.breadcrumb__list.d-flex.justify-content-md-end
          li.breadcrumb__list-item
            a(href="#" class="item__link") Home
            i.ti-angle-right
          li.breadcrumb__list-item
            a(href="#" class="item__link") Pages
            i.ti-angle-right
          li.breadcrumb__list-item
            a(href="#" class="item__link") About