.subscribe
  .container
    .subscribe__content
      .row.align-items-center
        .col-md-6
          .subscribe__content-title Subscribe Our Newsletter
        .col-md-6
          .subscribe__content-email
            form(action="").d-flex
              input(type="text" placeholder="Enter Email Address")
              button(type="submit").btn.btn-dark.rounded-0 Subscribe 