.policy
  .container
    .row.no-gutters 
      .col-md-4
        .policy__content.text-center
          .policy__content-icon
            img(src="assets/images/png/shipped.png")
          .policy__content-title Free Delivery
          .policy__content-text If you are going to use of Lorem, you need to be sure there anything
      .col-md-4
        .policy__content.text-center
          .policy__content-icon
            img(src="assets/images/png/money-back.png")
          .policy__content-title 30 Day Return
          .policy__content-text If you are going to use of Lorem, you need to be sure there anything
      .col-md-4
        .policy__content.text-center
          .policy__content-icon
            img(src="assets/images/png/support.png") 
          .policy__content-title 27/4 Support
          .policy__content-text If you are going to use of Lorem, you need to be sure there anything
