.reason
  +heading("Why Choose Us?", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.")
  .container
    .row.justify-content-center
      .col-lg-4.col-sm-6
        .reason__content
          .reason__content-icon
            .icon
              i.ti-pencil-alt
          .reason__content-title Creative Design 
          .reason__content-text There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form
      .col-lg-4.col-sm-6
        .reason__content
          .reason__content-icon
            .icon
              i.ti-layers
          .reason__content-title Creative Design 
          .reason__content-text There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form
      .col-lg-4.col-sm-6
        .reason__content
          .reason__content-icon
            .icon
              i.ti-email
          .reason__content-title Creative Design 
          .reason__content-text There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form