.team
  +heading("Our Team Members","Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.")
  .container
    .team__content
      .row.justify-content-center 
        //-1
        .team__content-card.col-lg-3.col-sm-6
          .card__img
            img(src="assets/images/team_img1.jpg")
            .card__img-overlay
              ul.overlay__list.d-flex.justify-content-center
                li.overlay__list-item
                  a(href="#").item__link
                    .item__link-icon
                      i.ti-facebook 
                li.overlay__list-item
                  a(href="#").item__link
                    .item__link-icon
                      i.ti-twitter 
                li.overlay__list-item
                  a(href="#").item__link
                    .item__link-icon
                      i.ti-google
                li.overlay__list-item
                  a(href="#").item__link
                    .item__link-icon
                      i.ti-instagram
          .card__title John Muniz
          .card__text Project Engineer
        //-2
        .team__content-card.col-lg-3.col-sm-6
          .card__img
            img(src="assets/images/team_img2.jpg")
            .card__img-overlay
              ul.overlay__list.d-flex.justify-content-center
                li.overlay__list-item
                  a(href="#").item__link
                    .item__link-icon
                      i.ti-facebook 
                li.overlay__list-item
                  a(href="#").item__link
                    .item__link-icon
                      i.ti-twitter 
                li.overlay__list-item
                  a(href="#").item__link
                    .item__link-icon
                      i.ti-google
                li.overlay__list-item
                  a(href="#").item__link
                    .item__link-icon
                      i.ti-instagram
          .card__title Alea Brooks
          .card__text Graphics Designer
        //-3
        .team__content-card.col-lg-3.col-sm-6
          .card__img
            img(src="assets/images/team_img3.jpg")
            .card__img-overlay
              ul.overlay__list.d-flex.justify-content-center
                li.overlay__list-item
                  a(href="#").item__link
                    .item__link-icon
                      i.ti-facebook 
                li.overlay__list-item
                  a(href="#").item__link
                    .item__link-icon
                      i.ti-twitter 
                li.overlay__list-item
                  a(href="#").item__link
                    .item__link-icon
                      i.ti-google
                li.overlay__list-item
                  a(href="#").item__link
                    .item__link-icon
                      i.ti-instagram
          .card__title Anders Glick 
          .card__text Software Developer
        //-4
        .team__content-card.col-lg-3.col-sm-6
          .card__img
            img(src="assets/images/team_img4.jpg")
            .card__img-overlay
              ul.overlay__list.d-flex.justify-content-center
                li.overlay__list-item
                  a(href="#").item__link
                    .item__link-icon
                      i.ti-facebook 
                li.overlay__list-item
                  a(href="#").item__link
                    .item__link-icon
                      i.ti-twitter 
                li.overlay__list-item
                  a(href="#").item__link
                    .item__link-icon
                      i.ti-google
                li.overlay__list-item
                  a(href="#").item__link
                    .item__link-icon
                      i.ti-instagram
          .card__title Richard Tice 
          .card__text Web Developer