.testimonial
  .container
<<<<<<< HEAD
    .d-lg-flex.justify-content-center
=======
    .d-md-flex.justify-content-center 
>>>>>>> 9ca5874095578bba3a056065efbb825c98e12185
      .col-md-8
        .testimonial__text
          .testimonial__text-title.text-lg-size.text-center Our Client Say!
          .owl-carousel.owl-theme#client_id
            .item
              .testimonial__text-desc.text-md-size Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet animi blanditiis consequatur debitis dicta distinctio, enim error eum iste libero modi nam natus perferendis possimus quasi sint sit tempora voluptatem.
              .testimonial__text-client.d-flex.justify-content-center.align-items-center
                .client__img
                  img(src="assets/images/user_img1.jpg")
                .client__text
                  .client__text-name Lissa Castro
                  .client__text-job Designer
            .item
              .testimonial__text-desc.text-md-size Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet animi blanditiis consequatur debitis dicta distinctio, enim error eum iste libero modi nam natus perferendis possimus quasi sint sit tempora voluptatem.
              .testimonial__text-client.d-flex.justify-content-center.align-items-center
                .client__img
                  img(src="assets/images/user_img2.jpg")
                .client__text
                  .client__text-name Lissa Castro
                  .client__text-job Designer
            .item
              .testimonial__text-desc.text-md-size Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet animi blanditiis consequatur debitis dicta distinctio, enim error eum iste libero modi nam natus perferendis possimus quasi sint sit tempora voluptatem.
              .testimonial__text-client.d-flex.justify-content-center.align-items-center
                .client__img
                  img(src="assets/images/user_img3.jpg")
                .client__text
                  .client__text-name Lissa Castro
                  .client__text-job Designer
            .item
              .testimonial__text-desc.text-md-size Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet animi blanditiis consequatur debitis dicta distinctio, enim error eum iste libero modi nam natus perferendis possimus quasi sint sit tempora voluptatem.
              .testimonial__text-client.d-flex.justify-content-center.align-items-center
                .client__img
                  img(src="assets/images/user_img4.jpg")
                .client__text
                  .client__text-name Lissa Castro
                  .client__text-job Designer

