.text-lg-size {
  font-family: 'Roboto', sans-serif;
  font-size: 3.2rem;
  color: $text-title;
  font-weight: 700;
}
.text-md-size {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  color: $text-normal;
}