.header {
	margin-top: 2rem;
	&__top {
		@include fontPoppins(1.4rem);
		border-bottom: 1px solid #eee;
		@include max-breakpoint(480){
			font-size: 1.2rem;
		}
		a {
			color: $text-title;
		}
		&-left {
			i {
				font-size: 1rem;
			}
			.left__list {
				
				&-item {
					position: relative;
					margin-right: 1.4rem;
					img {
						border-radius: 50%;
						width: 1.7rem;
						height: 1.7rem;
						margin-right: 0.6rem;
					}
					.item__link {
						margin-right: 1rem;
					}
					.sublist{
						// padding-left: 0px;
						position: absolute;
						z-index: 999;
						top: 25px;
						background-color: #fff;
						box-shadow: 0 13px 42px 11px rgba(0, 0, 0, 0.1);
						width: 160%;
						padding: 5px 10px 5px 10px;
						max-height: 0;
						display: none;
						&.show{
							max-height: 100vh;
							display: block;
						}
						li{
							line-height: normal;
							padding: 3px 0px;
						}
					}
				}
			}
		}
		&-right {
			.right__list {
				&-item {
					margin-right: 1.4rem;
					&:hover{
						color: $text-pink;
					}
				}
				.item__link {
					margin-left: 1rem;
					&:hover {
						color: $text-pink;
					}
				}
			}
		}
	}
	&__main {		
		a {
			@include fontPoppins(1.4rem, $text-title);
			&:hover {
				color: $text-pink;
			}
		}
		&-nav {
			position: relative;
			@include breakpoint(768){
				flex-wrap: wrap;
			}
			#button{
				display: none;
				@include breakpoint(768){
					display: flex;
					align-items: center;	
					font-size: 18px;
					justify-content: space-between;		
					cursor: pointer;	
				}		
			}
			.header__menu-mobile{
				display: none;
				@include breakpoint(768){
					width: 100%;
					height: auto;
					padding-left: 0px;
					box-shadow: 5px 10px 8px #888;	
					overflow: hidden;
					transition: all 0.3s ease;
					cursor: pointer;
					.mobile__item{
						padding: 10px 15px;
						display: flex;
						justify-content: space-between;
						&:hover{
							color: $text-pink;}
						&__icon{
							font-size: 200px;
						}	
						ul{
							position: relative;
							display: inline-block;
							padding: 0px;
							margin: 0px;
						}
					}
				 &.show{
					max-height: 100em;
					display: block;
				}
				}
				
				
			}
			.nav__list-itemMobile{
				display: none;
				@include breakpoint(768) { 
					// display: block!important;
					display: flex!important;
				}
				.item--menu{
					font-size: 20px;
					position: relative;
					.menu__subnav{
						position: absolute;
						padding-left: 0px;
					}
				}


			}
			.nav__list {
				
				@include breakpoint(768) { 
					display: none!important;
				}
				
				&-item {
					position: relative;
					padding: 2.35rem 0.3rem;
					.item__link {
						@include fontPoppins(1.4rem, $text-title);
						text-transform: uppercase;
						font-weight: 500;
						&:hover{
							color: $text-pink;
						}
					}
					i {
						margin-left: 0.5rem;
					}
					&:hover .item__dropdown {
						visibility: visible;
						transform: translateY(0);
						opacity: 1;
					}
					.item__dropdown {
						position: absolute;
						top: 114%;
						padding-left: 0;
						min-width: 22rem;
						visibility: hidden;
						box-shadow: 0 13px 42px 11px rgba(0, 0, 0, 0.1);
						transition: 0.5s;
						transform: translateY(25%);
						opacity: 0;
						z-index: 1000;
						&-item {
							padding: 0.5rem 0 1rem 1rem;
							
						}
					}
				}
				.nav__list-item.left-dropdown {
					background-color: $white;
					.item__dropdown {
						right: 0;
						top: 114%;
						&-item {
							position: relative;
							&:hover .dropdown-left {
								opacity: 1;
								visibility: visible;
							}
							.dropdown-left {
								position: absolute;
								width: 100%;
								right: 100%;
								top: 0;
								opacity: 0;
								visibility: hidden;
								box-shadow: 0 13px 42px 11px rgba(0, 0, 0, 0.1);
								transition: 0.5s;
								&__list {
									padding: 0.5rem 0 1rem 1rem;
								}
							}
						}
					}
				}
				.nav__list-item.p-static {
					position: static;
					&:hover .item__mega {
						opacity: 1;
						visibility: visible;
						transform: translateY(0);
					}
					.item__mega {
						display: flex;
						position: absolute;
						top: 100%;
						width: 100%;
						left: 0;
						padding-left: 0;
						opacity: 0;
						visibility: hidden;
						background-color: $white;
						box-shadow: 0 13px 42px 11px rgba(0, 0, 0, 0.1);
						transition: 0.5s;
						transform: translateY(25%);
						&-item {
							padding-top: 1rem;
							width: 25%;
							border-right: 1px solid #ddd;
							.item__title {
								@include fontPoppins(1.4rem, $text-title);
								text-transform: uppercase;
								font-weight: 700;
								padding-left: 3rem;
							}
							.item__subList {
								.subList__item {
									padding: 0.5rem 0 1rem 1rem;
									.sublist__item-link {
										@include fontPoppins(1.4rem, $text-title);
									}
								}
							}
						}
						.img__mega {
							padding-bottom: 1.5rem;
							position: absolute;
							width: 100%;
							left: 0;
							top: 21rem;
							opacity: 1;
							background-color: $white;
							& img {
								width: 33.33%;
								&:nth-child(2) {
									margin: 0 1rem;
								}
							}
						}
					}
				}
			}
		}
	}
}
.item--cart {
	position: relative;
	&:hover .cart__product {
		visibility: visible;
		opacity: 1;
	}
	i {
		font-size: 2rem;
	}
	.cart__number {
		position: absolute;
		top: 30%;
		left: 70%;
		font-size: 1.1rem;
		border-radius: 100%;
		width: 1.6rem;
		height: 1.6rem;
		background-color: $text-pink;
		text-align: center;
		color: $white;
	}
	
	.cart__product {
		position: absolute;
		top: 100%;
		right: 0;
		width: 30rem;
		padding: 1rem;
		background-color: $white;
		box-shadow: 0 13px 42px 11px rgba(0, 0, 0, 0.1);
		opacity: 0;
		visibility: hidden;
		transition: 0.5s;
		@include fontPoppins(1.4rem, $text-title);
		.product__content {
			padding: 1rem;
			border-bottom: 1px solid #ddd;
		}
		.product__total {
			padding: 1rem;
		}
	}
}
.overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	// display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.5;
	transform: translateX(-100%);
	transition: all linear 0.5s;

	// transition: ;
	&-content{
		position: fixed;
		left: 0px;
		right: 0px;
		max-width: 80%;
		margin: 0px auto;
		padding: 80px 0px;
		bottom: 0px;
		display: flex;
		height: 100%;
		align-items: center;
		form{
			position: relative;
			width: 100%;
		}
	}
}
	.overlay .closebtn {
	position: absolute;
	top: 25%;
	right: 0px;
	font-size: 40px;
	cursor: pointer;
	color: white;
	&:hover{
		color: #ccc;
	}
}
  .overlay input[type=text] {
	padding: 10px 0px;
	font-size: 17px;
	width: 100%;
	height: 50px;
	background-color: transparent;
	border-bottom: 2px solid #fff;
	border-top: 0;
	border-left: 0;
	border-right: 0;
  }
  .overlay button {
	font-size: 17px;
	position: absolute;
	background: transparent;
	color: white;
	right: 5px;
	top: 5px;
	border: 0;
	padding: 0px;
	cursor: pointer;
  }
