mixin heading(title, desc)
  .heading
    .container
      .d-flex.justify-content-center
        .col-lg-6.col-md-8
          .heading__text.text-center
            .heading__text-title.text-lg-size= title
            .heading__text-desc.text-md-size= desc