footer.footer
  .footer__content
    .container
      .row
        .col-lg-3
          .footer__content-logo
            img(src="assets/images/logo_light.png").logo
            .logo__text
              p If you are going to use of Lorem Ipsum need to be sure there isn't hidden of text
            ul.logo__list
              li.logo__list-item
                a(href="#").item__link
                  i.ti-facebook
              li.logo__list-item
                a(href="#").item__link
                  i.ti-twitter
              li.logo__list-item
                a(href="#").item__link
                  i.ti-google
              li.logo__list-item
                a(href="#").item__link
                  i.ti-youtube
              li.logo__list-item
                a(href="#").item__link
                  i.ti-instagram
        .col-lg-2
          .footer__content-nav
            .nav__title
              h6 Useful Links
            ul.nav__list
              li.nav__list-item
                a(href="#").item__link About Us
              li.nav__list-item
                a(href="#").item__link FAQ 
              li.nav__list-item
                a(href="#").item__link Location 
              li.nav__list-item
                a(href="#").item__link Affiliates 
              li.nav__list-item
                a(href="#").item__link Contact 
        .col-lg-2
          .footer__content-nav
            .nav__title
              h6 Category 
            ul.nav__list
              li.nav__list-item
                a(href="#").item__link Men 
              li.nav__list-item
                a(href="#").item__link Women 
              li.nav__list-item
                a(href="#").item__link Kids
              li.nav__list-item
                a(href="#").item__link Best Saller 
              lli.nav__list-item
                a(href="#").item__link New Arrivals
        .col-lg-2
          .footer__content-nav
            .nav__title
              h6 My Account
            ul.nav__list
              li.nav__list-item
                a(href="#").item__link My Account
              li.nav__list-item
                a(href="#").item__link Discount 
              li.nav__list-item
                a(href="#").item__link Return 
              li.nav__list-item
                a(href="#").item__link Orders History 
              li.nav__list-item
                a(href="#").item__link Order Tracking 
        .col-lg-3
          .footer__content-contact
            .contact__title 
              h6 Contact Info
            .contact__info
              i.ti-location-arrow
              p 123 Street, Old Trafford, New South London , UK
            .contact__info
              i.ti-email
              p info@sitename.com
            .contact__info
              i.ti-location-arrow
              p + 457 789 789 65
  .footer__bottom
    .container
      .row.align-items-center
        .col-lg-6
          .footer__bottom-lisence.d-flex.justify-content-lg-start.justify-content-center
            p © 2020 All Rights Reserved by Bestwebcreator
        .col-lg-6
          .footer__bottom-payment.d-flex.justify-content-lg-end.justify-content-center
            ul.payment__list.d-flex
              li.payment__list-item
                a(href="#").item__link
                  img(src="assets/images/visa.png")
              li.payment__list-item
                a(href="#").item__link
                  img(src="assets/images/discover.png")
              li.payment__list-item
                a(href="#").item__link
                  img(src="assets/images/master_card.png")
              li.payment__list-item
                a(href="#").item__link
                  img(src="assets/images/paypal.png")
              li.payment__list-item
                a(href="#").item__link
                  img(src="assets/images/amarican_express.png")
a(href="#").scroll-up#my-scroll
  i.ti-angle-up

